* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.screen {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 50%;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: #f2f2f2;
    box-shadow: -0.5px 0.5px 5px #999;
}

.right-side form {
    width: 100%;
}

.right-side label {
    display: block;
    margin-bottom: 15px;
}

.right-side input {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    outline: 0;
    border: 1px solid #999;
    border-radius: 4px;
}

.button {
    background-color: #666666;
    color: #f2f2f2;
    font-size: 16px;
}

.button:hover {
    background-color: #333333;
    box-shadow: -0.5px 0.5px 5px #999;
    transition: all ease 0.5s;
}

.error {
    background-color:#CE2400;
    color: #f2f2f2;
    width: 50%;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}